---
import FormContainer from '~/components/ui/Form.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto md:pt-0 lg:pt-0 ${classes?.container ?? ''}`}
  bg={bg}
>
  <header class="relative mb-5">
    <span
      class="flex items-center z-10 justify-center relative text-white font-xs w-10 h-10 p-6 bg-red-600 rounded-full border-2"
      >NOW</span
    >
    <div class="absolute top-1/2 bg-black ml-10" style="height: 1px; width: calc(100% - 2.5rem);"></div>
  </header>

  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={{ container: 'm-auto max-w-3xl' }} />

  {
    inputs && (
      <div class="flex flex-col text-left max-w-4xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full">
        <FormContainer
          inputs={inputs}
          textarea={textarea}
          disclaimer={disclaimer}
          button={button}
          description={description}
        />
      </div>
    )
  }
</WidgetWrapper>
