---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import Logo from '~/assets/images/break-up-with-your-bank-logo.svg';

const {
  description = await Astro.slots.render('description'),
  body = await Astro.slots.render('body'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),
  id,
} = Astro.props;
---

<div id={id} class="grid grid-cols-1 lg:grid-cols-6">
  <!-- left side -->
  <div
    class="lg:col-span-3 flex flex-col justify-center items-center md:items-start bg-white py-16 md:py-5 px-4 md:px-8"
  >
    <Fragment slot="title">
      <h1 class="w-4/5 mb-4">
        <Image src={Logo} loading="eager" alt="Break Up With Your Bank" style="max-height: none" />
      </h1>
    </Fragment>

    <Fragment slot="subtitle">
      <p class="text-black opacity-50 mb-2 text-2xl text-center md:text-left">{description}</p>
      <p class="text-black opacity-50 text-center md:text-left">{body}</p>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4 mt-4">
      <Button variant="primary" class="bg-green text-white hover:text-black border-0 rounded" href="#pledge">
        {actions}
      </Button>
    </div>
  </div>
  <div class="lg:col-span-3 flex">
    <Image class="w-full h-full object-cover max-w-none" style="max-width: unset;" loading="eager" {...image} />
  </div>
</div>
