---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import Logo from '~/assets/images/break-up-with-your-bank-logo.svg';

const {
  description = await Astro.slots.render('description'),
  body = await Astro.slots.render('body'),
  actions = await Astro.slots.render('actions'),
  id,
} = Astro.props;
---

<div id={id}>
  <div
    class="max-w-7xl flex flex-col text-black items-center justify-center text-center mx-auto bg-white pt-8 pb-16 px-8"
  >
    <Fragment slot="title">
      <h1 class="md:w-[20%] mb-4">
        <Image src={Logo} loading="eager" alt="Break Up With Your Bank" class="md:w-1/5" style="max-height: none" />
      </h1>
    </Fragment>

    <Fragment slot="subtitle">
      <h2 class="mb-2 text-4xl font-bold">{description}</h2>
      <p class="max-w-[600px]" set:html={body}></p>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4 mt-8">
      <Button variant="primary" class="bg-green text-white  border-0 rounded" href="#pledge">
        {actions}
      </Button>
    </div>
  </div>
</div>
