---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article class="flex flex-col mb-6 transition">
  <div class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-2">
    {
      image &&
        (link ? (
          <a href={link}>
            <Image
              src={image}
              class="w-full md:h-full rounded shadow-lg bg-[#D9D9D9] dark:bg-slate-700"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          </a>
        ) : (
          <Image
            src={image}
            class="w-full md:h-full rounded shadow-lg bg-[#D9D9D9] dark:bg-slate-700"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        ))
    }
  </div>
  <div style='box-shadow: 0px 2px 11px 0px #C0CED3;' class='flex flex-col flex-1 rounded py-8 px-5'>
    <h3 class='text-lg font-black leading-tight mb-3 font-heading dark:text-slate-300 text-center'>
      {post.title}
    </h3>

    <div class='flex-1 font-normal text-lg leading-tight mb-5'>
      <Fragment slot='subtitle'>
        {post.excerpt}
      </Fragment>
    </div>

    <a class='flex justify-center items-center gap-4 transition ease-in duration-200' href={link}>
      continue reading

      <svg
        width='25'
        height='16'
        viewBox='0 0 25 16'
        style='color: inherit;'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M17.0304 1.66514L23.482 8.11675M23.482 8.11675L17.0304 14.5684M23.482 8.11675H0.901367'
          stroke='black'
          stroke-width='1.6129'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
    </a>
  </div>
</article>
